.product {
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  height: 80px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden;
}

.product_img > img {
  width: 4vw;
  height: 8vh;
}

.content > p {
  padding-bottom: 3px;
}

.product_price {
  display: flex;
  align-items: center;
}

.won {
  color: gold;
}

.product_etc {
  border: 1px solid black;
  border-radius: 8px;
  display: inline;
  background-color: violet;
  color: white;
  margin: auto;
}
